[*.cs]

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = silent

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = suggestion

# CA1805: 避免进行不必要的初始化
dotnet_diagnostic.CA1805.severity = suggestion

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = suggestion

# CA1032: 实现标准异常构造函数
dotnet_diagnostic.CA1032.severity = silent

# CA1304: 指定 CultureInfo
dotnet_diagnostic.CA1304.severity = silent

# CA1054: 类 URI 参数不应为字符串
dotnet_diagnostic.CA1054.severity = silent

# CA1055: 类 URI 返回值不应是字符串
dotnet_diagnostic.CA1055.severity = silent

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = silent
